<h2>Қолданушылар тізімі:</h2>
<ul>
  <li *ngFor="let user of users">
    {{ user.name }} - {{ user.email }}
    <button (click)="editUser(user)">Өзгерту</button>
    <button (click)="deleteUser(user._id)">Өшіру</button>
  </li>
</ul>


<h3>Жаңа қолданушы қосу:</h3>
<form (ngSubmit)="addUser()">
  <input [(ngModel)]="newUser.name" name="name" placeholder="Аты" required />
  <input [(ngModel)]="newUser.email" name="email" placeholder="Email" required />
  <input [(ngModel)]="newUser.login" name="login" placeholder="Логин" required />
  <input [(ngModel)]="newUser.password" name="password" type="password" placeholder="Құпия сөз" required />
  <button type="submit">Қосу</button>
</form>


<div *ngIf="editingUser">
  <h3>Қолданушыны өзгерту:</h3>
  <form (ngSubmit)="updateUser()">
    <input [(ngModel)]="editingUser.name" name="editName" placeholder="Аты" required />
    <input [(ngModel)]="editingUser.email" name="editEmail" placeholder="Email" required />
    <input [(ngModel)]="editingUser.login" name="editLogin" placeholder="Логин" required />
    <input [(ngModel)]="editingUser.password" name="editPassword" type="password" placeholder="Құпия сөз" required />
    <button type="submit">Өзгерту</button>
  </form>
</div>
